context = {
  org      = "contoso"
  app      = "orders"
  env      = "prod"
  region   = "eus"
  instance = "01"
}

location = "eastus"

tags = {
  business_unit = "retail"
  cost_center   = "cc-1001"
  criticality   = "high"
  data_class    = "internal"
  environment   = "prod"
  managed_by    = "terraform"
  owner         = "platform"
  workload      = "orders"
}
